{{each Messages}}
  <div class="row-fluid msg {{if $value.IsRead === false}}unread{{/if}} update" id="{{$value.Id}}">
    <div class="bookcover span2">
      <a href="file:///android_asset/www/Book/Detail.html?id={{$value.Book.Id}}"><img src="{{$value.Book.ImageUrl}}" alt="" class=""></a>
    </div>
    <div class="info span10">
      <div class="row-fluid info">
        <div class="span9 dotdotdotForLongText"><a href="file:///android_asset/www/People/Detail.html?nickname={{$value.FromUser.Nickname}}">{{$value.FromUser.Nickname}}</a>{{$value.Message}}</div>
        <div class="span3 text-right">{{$value.CreationTime}}前</div>
      </div>
      <div class="content">
        <h5 class="contentTitle">{{$value.Title}}</h5>
        <div class="summary">{{$substring $value.Content 0 50}}</div>
      </div>
    </div>
    {{if $value.Type === 2}}
    <a href="file:///android_asset/www/Review/Detail.html?id={{$value.AnchorId}}"></a>
    {{else if $value.Type === 10}}
    <a href="file:///android_asset/www/Comment/Detail.html?id={{$value.AnchorId}}"></a>
    {{/if}}
  </div>
  <hr>
{{/each}}