@import (once) "General.less";

.article {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin-top: 16px;
  padding: 8px;
  background-color: white;
  color: black;

  .row-fluid:first-child {
    margin-bottom: 8px;
  }

  .author, .time {
    font-size: 0.8em;
  }

  & > a {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}