@import (reference) "prefixer.less";
@import (reference) "Common.less";

* {
  -webkit-tap-highlight-color: transparent; 
}

body {
  background-color: #F6F2ED;
  font-size: 14px;
  padding: 16px;

  a, a:hover {
    color: black;
    text-decoration: none;
  }
}

.row-fluid [class*="span"] {
  min-height: 0;
}

.title {
  box-sizing: border-box;
  border-bottom: 1px solid #999;
  width: 100%;
  padding-bottom: 4px;
  font-weight: normal;
  
  .more {
    background-color: @base;
    border-radius: 10px;
    font-size: 0.9em;
    height: 16px;
    line-height: 20px;
    padding: 2px 8px;

    a {
      color: white;
    }
  }
}

.actionbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  
  width: 100%;
  height: @actionbarheight;

  box-sizing: border-box;
  padding: 8px;

  background-color: white;
  .box-shadow(0 0 10px rgba(0, 0, 0, 0.2));

  .actionbar-section {
    display: block;
    height: 100%;

    &.center {
      position: relative;
      top: 0;
      bottom: 0;
      
      height: 100%;

      .page-title, .pullingText {
        .dotdotdotForLongText;
        height: 44px;
        line-height: 44px;
        font-size: 1.5em;
        font-weight: bold;
        max-width: 200px;
      }

      &.hide {
        display: none;
      }
    }
    
    &.left-button {
      .back, .slide-menu {
        height: 100%;
      }
    }

    &.right-button {
      min-width: 48px;

      .buttons {
        height: 100%;
        
        .glyphicons:before {
          margin-left: 16px;
        }

        .message-center {
          a {
            position: relative;

            img {
              width: 28px;
              height: 28px;
              margin-top: 8px;
              margin-right: 10px;
            }

            .unreadCount {
              position: absolute;
              bottom: -15px;
              right: 0;
              background-color: @base;
            }
          }
        }

        .side-menu {
          margin-top: 11px;

          .dropdown-toggle {
            margin: 0 6px;
          }

          .dropdown-menu {
            margin-top: 10px;
          }

          img {
            width: 24px;
            height: 24px;
          }
        }

        .write {
          margin-top: 8px;
          margin-right: 8px;

          .button.post {
            padding: 4px 20px;
            background-color: @base;
            color: white;
          }
        }
      }
    }

    .channel {
      position: absolute;
      right: -64px;
      top: 4px;

      img {
        width: 28px;
      }

      .dropdown-toggle {
        margin-top: 2px;
      }

      .arrow {
        display: block;
        width: 0;
        height: 0;
        margin-left: 4px;
        margin-top: 12px;

        border-width: 4px;
        border-style: solid;
        border-color: transparent black black transparent;
      }

      .btn:focus {
        outline: none;
      }

      .btn-link, .btn-link:focus, .btn-link:hover {
        text-decoration: none;
      }

      .dropdown-menu {
        li a img {
          padding: 8px 0;
          width: 32px;
          max-width: 32px;
        }
      }
    }
    
    .btn-group.open {
      .btn.dropdown-toggle {
        background-color: transparent;
        .box-shadow(none);
      }
    }

    .btn.active {
      background-color: transparent;
      .box-shadow(none);
    }

    .dropdown-menu {
      min-width: 0;
      .border-radius(0);
      .box-shadow(none);
    }

    .slide-menu {
      position: relative;

      .badge {
        position: absolute;
        top: 5px;
        right: 10px;
        background-color: @base;
      }
    }
  }
}

.container {
  width: 100%;
  margin-top: @actionbarheight;
}

.responseItem {
  position: relative;
  box-sizing: border-box;
  margin-bottom: 16px;
  padding: 8px;
  background-color: @base;
  color: white;

  .timestamp {
    color: black;
    opacity: 0.3;
  }

  .name {
    line-height: 46px;

    a {
      color: white;
      margin-right: 4px;
      line-height: 46px;
    }
  }

  .responseContent {
    margin-top: 8px;
  }

  .status {
    margin-right: -15px;
    margin-bottom: 20px;

    &.loading {
      content: url(../img/loading.gif);
      margin-right: 12px;
      margin-bottom: 7px;
      margin-top: 8px;
    }

    &.circle_exclamation_mark:before {
      color: @femalebase;
    }

    &.circle_ok:before {
      color: white;
    }
  }
}

.postResponse {
  #submit {
    height: 48px;

    &:before {
      top: 4px;
      margin-left: 8px;
      background-color: white;
      padding: 6px;
      font-size: 18px;
      border-radius: 500px;
    }
  }
}

.pullbar {
  position: absolute;
  top: @actionbarheight;

  height: 4px;
  margin: 0 auto;

  background-color: @base;
}

input, textarea, input:focus, textarea:focus, 
input[type="text"], input[type="password"], input[type="datetime"], 
input[type="datetime-local"], input[type="date"], input[type="month"], 
input[type="time"], input[type="week"], input[type="number"], 
input[type="email"], input[type="url"], input[type="search"], 
input[type="tel"], input[type="color"] {
  &, &:focus {
    box-shadow: none;
    transition: none;
    border-color: #777;
    outline: none;
  }
}

.articleItem {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin-top: 16px;
  padding: 8px;
  background-color: white;
  color: black;

  .articleTitleText {
    .dotdotdotForLongText;
    height: 25px;
    font-size: 18px;
  }

  .row-fluid:first-child {
    margin-bottom: 8px;
  }

  .author, .time {
    font-size: 0.9em;
    line-height: 34px;
  }

  & > a {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}