@import (once) "General.less";
@import (once) "MCResponse.less";
@import (once) "MCUpdate.less";

.tabs {
  box-sizing: border-box;
  position: fixed;
  top: 60px;
  left: 0;
  height: 48px;
  line-height: 40px;
  z-index: 1;

  .tab {
    position: relative;
    background-color: white;
    width: 33%;

    &:nth-child(2) {
      width: 34%;
    }

    &.active {
      background-color: @base;
      color: white;

      .newMsgIndicator {
        background-color: white;
      }
    }

    .newMsgIndicator {
      position: absolute;
      top: 50%;
      margin-top: -4px;
      height: 8px;
      width: 8px;
      right: 30px;
      background-color: @base;
      border-radius: 4px;
    }
  }
}

.payload {
  margin-top: 48px;

  .msg {
    position: relative;
  }
}

.unread-indicator {
  position: absolute;
  left: -11px;
  
  width: 8px;
  height: 8px;

  border-radius: 500px;
  background-color: @base;
}