<div class="container" data-reviewid="{{Article.Id}}">
  <div class="row-fluid titleImage"><img src="{{Article.ImageUrl}}?imageView/2/w/360"></div>
  <div class="row-fluid title">{{Article.Title}}</div>
  <div class="info row-fluid">
    <div class="user pull-left" id="{{Article.Author.Id}}">
      <a href="../People/Detail.html?nickname={{Article.Author.Nickname}}">
        <div class="avatar pull-left"><img src="{{Article.Author.AvatarUrl}}" alt="" class="img-circle"></div>
        <div class="nickname pull-left">{{Article.Author.Nickname}}</div>
      </a>
    </div>
    <div class="viewcount pull-right">
      <span>已被阅读{{Article.ViewCount}}次</span>
    </div>
  </div>
  <div class="content">{{#Article.Content}}</div>
  {{if RelatedBooks}}
  <div class="section row-fluid similarBooks">
    <div class="row-fluid title">
      <span>相关书籍</span>
    </div>
    <div class="row-fluid">
      {{each RelatedBooks}}
      <div class="book span3">
        <a href="../Book/Detail.html?id={{$value.Id}}">
          <div class="bookCover">
            <div class="wrapper"><img src="{{$value.ImageUrl}}" alt=""></div>
          </div>
          <div class="bookTitle text-center">{{$value.Title}}</div>
        </a>
      </div>
      {{/each}}
    </div>
  </div>
  {{/if}}
</div>
<div class="row-fluid response text-center">
  <a href="Response.html?id={{Article.Id}}&authorId={{Article.Author.Id}}">
    <span class="glyphicons comments">{{if Article.ResponseSum > 0}}{{Article.ResponseSum}}条评论{{else}}没有评论{{/if}}</span>
  </a>
</div>