<div class="container" id="{{Book.Id}}">
  <div class="section row-fluid mainInfo">
    <div class="row-fluid">
      <div class="span4 bookCover"><div class="wrapper"><img src="{{Book.ImageUrl}}" alt=""></div></div>
      <div class="span8 basicInfo">
        <div class="row-fluid"><div class="span5 text-right">作者：</div><div class="badge pull-left">{{Book.Author}}</div></div>
        <div class="row-fluid"><div class="span5 text-right">状态：</div><div class="span7">{{Book.Status}}</div></div>
        <div class="row-fluid"><div class="span5 text-right">字数：</div><div class="span7">{{Book.WordCount}}</div></div>
        <div class="row-fluid"><div class="span5 text-right">类型：</div><div class="badge pull-left">{{Book.Category}}</div></div>
        <div class="row-fluid"><div class="span5 text-right">最近更新：</div><div class="span7 dotdotdotForLongText">{{Book.LastUpdateDate}}</div></div>
      </div>
    </div>
    <div class="row-fluid subSection2">
      <div class="span6 text-center">
        <div class="score">{{if Book.Score}}{{Book.Score}}{{else}}0{{/if}}</div>
        <div class="ratingStar" data-score="{{Book.Score}}"></div>
        <div class="ratingSum">评分来自{{Book.ScoreSum}}书友</div>
      </div>
      <div class="span6 text-center"><span>{{UsersumOfReading}}</span><span class="reading">正在看</span></div>
    </div>
    <div class="row-fluid"></div>
  </div>
  {{if IsLogin === true}}
  <div class="section row-fluid readStatus">
    <div class="row-fluid status">
      <div class="span4 text-center statusAction" data-statuscode="wanttoread">
        <a href="#">
          <div class="wanttoread {{if UserBookStatus}}{{if UserBookStatus.Status === 1}}active{{/if}}{{/if}}">
            <img src="../public/img/WantToRead.png" alt="" class="pull-left">
            <div class="pull-left" id="wanttoread">我想读</div>
          </div>
        </a>
      </div>
      <div class="span4 text-center statusAction" data-statuscode="read">
        <a href="WriteReview.html?bookid={{Book.Id}}&status=read&category={{Book.Category}}&bookcover={{Book.ImageUrl}}&isforman={{Book.ForMan}}&booktitle={{Book.Title}}">
          <div class="read {{if UserBookStatus}}{{if UserBookStatus.Status === 4}}active{{/if}}{{/if}}">
            <img src="../public/img/Read.png" alt="" class="pull-left">
            <div class="pull-left" id="read">我读过</div>
          </div>
        </a>
      </div>
      <div class="span4 text-center statusAction" data-statuscode="giveup">
        <a href="WriteReview.html?bookid={{Book.Id}}&status=giveup&category={{Book.Category}}&bookcover={{Book.ImageUrl}}&isforman={{Book.ForMan}}&booktitle={{Book.Title}}">
          <div class="giveup {{if UserBookStatus}}{{if UserBookStatus.Status === 3}}active{{/if}}{{/if}}">
            <img src="../public/img/GiveUp.png" alt="" class="pull-left">
            <div class="pull-left" id="giveup">弃读</div>
          </div>
        </a>
      </div>
    </div>
    <div class="row-fluid selfComment {{if UserBookStatus}}{{if UserBookStatus.Status === 2}}hide{{/if}} {{if UserBookStatus.Status === 0}}hide{{/if}}{{/if}}">
      <div class="row-fluid {{if UserReview}}{{else}}{{if UserComment}}{{else}}hide{{/if}}{{/if}}">
        <div class="offset{{if UserBookStatus}}{{if UserBookStatus.Status === 1}}1{{else}}{{if UserBookStatus.Status === 4}}5{{else}}{{if UserBookStatus.Status === 3}}9{{/if}}{{/if}}{{/if}}{{/if}} text-center arrow"></div>
      </div>
      <div class="row-fluid">
        {{if UserReview}}
        <div class="review row-fluid">
          <div class="firstRow row-fluid">
            <div class="nickname pull-left">我读过这本书</div>
            <div class="reviewScore pull-left" data-score="{{UserReview.Score}}"></div>
            <div class="mega pull-right">
              <table>
                <tr>
                  <td>
                    <div class="glyphicons comments">{{UserReview.ResponseSum}}</div>
                  </td>
                  <td>
                    <div class="glyphicons thumbs_up">{{UserReview.LikeSum}}</div>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div class="secondRow row-fluid">
            <div class="reviewTitle pull-left dotdotdotForLongText">{{UserReview.Title}}</div>
          </div>
          <div class="content row-fluid">{{$substring UserReview.Content 0 80}}</div>
        </div>
        {{else}}
        {{if UserComment}}
        <div class="review row-fluid">
          <div class="firstRow row-fluid">
            <div class="nickname pull-left">我读过这本书</div>
            <div class="reviewScore pull-left" data-score="{{UserComment.Score}}"></div>
            <div class="mega pull-right">
              <table>
                <tr>
                  <td>
                    <div class="glyphicons comments">{{UserComment.ResponseSum}}</div>
                  </td>
                  <td>
                    <div class="glyphicons thumbs_up">{{UserComment.LikeSum}}</div>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div class="secondRow row-fluid">
            <div class="pull-right timeStamp">{{UserComment.CreationTime}}</div>
          </div>
          <div class="content row-fluid">{{$substring UserComment.Content 0 80}}</div>
        </div>
        {{/if}}
        {{/if}}
      </div>
    </div>
    {{if UserBookStatus.Status === 0}}
    <hr>
    {{/if}}
    <div class="row-fluid action">
      <div class="span6 text-center">
        <div class="addToBooklist">
          <img src="../public/img/AddToBooklist.png" alt="" class="pull-left">
          <div class="pull-left text-left">加入我的书单</div>
        </div>
      </div>
      <div class="span6 text-center write">
        <a href="WriteReview.html?status=read&bookid={{Book.Id}}&category={{Book.Category}}&bookcover={{Book.ImageUrl}}&isforman={{Book.ForMan}}&booktitle={{Book.Title}}"></a>
        <div class="writeComment">
          <img src="../public/img/Pencil.png" alt="" class="pull-left">
          <div class="pull-left">写评论</div>
        </div>
      </div>
      <div class="span2"></div>
    </div>
  </div>
  {{/if}}
  {{if Book.Url !== ""}}
  {{if IsLogin === true}}
  <div class="readButton text-center login" data-url="{{Book.Url}}">
    <span class="before"></span>
    <span>开始阅读</span>
    <span class="after"></span>
  </div>
  {{else}}
  <div class="readButton text-center" data-url="{{Book.Url}}">开始阅读</div>
  {{/if}}
  {{/if}}
  <div class="section row-fluid summary">
    <div class="row-fluid title">内容简介</div>
    <div class="row-fluid summaryContent">{{Book.Summary}}</div>
    <div class="expand pull-right"></div>
  </div>
  {{if Book.Comments}}
  <div class="section row-fluid comments">
    <div class="row-fluid title">
      <span>短评（{{Book.CommentSum}}）</span>
      <span class="more pull-right"><a href="MoreComments.html?bookid={{Book.Id}}">更多&nbsp;...</a></span>
    </div>
    <div class="row-fluid">
      {{each Book.Comments}}
      <div class="row-fluid comment" id="{{$value.Id}}">
        <a href="../Comment/Detail.html?id={{$value.Id}}"></a>
        <div class="row-fluid"><div class="author pull-left"><a href="../People/Detail.html?nickname={{$value.Author.Nickname}}">{{$value.Author.Nickname}}</a></div><div class="cmtScore pull-left" data-score="{{$value.Score}}"></div></div>
        <div class="row-fluid"><div class="content">{{$value.Content}}</div></div>
        <div class="row-fluid mega">
          <table class="pull-right">
            <tr>
              <td>
                <div class="glyphicons comments">{{$value.ResponseSum}}</div>
              </td>
              <td>
                <div class="glyphicons thumbs_up">{{$value.LikeSum}}</div>
              </td>
            </tr>
          </table>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
  {{/if}}
  {{if Book.Reviews}}
  <div class="section row-fluid reviews">
    <div class="row-fluid title">
      <span>书评（{{Book.ReviewSum}}）</span>
      <span class="more pull-right"><a href="MoreReviews.html?bookid={{Book.Id}}">更多&nbsp;...</a></span>
    </div>
    <div class="row-fluid">
      {{each Book.Reviews}}
      <div class="review row-fluid" id="{{$value.Id}}">
        <a href="../Review/Detail.html?id={{$value.Id}}"></a>
        <div class="megaInfo row-fluid">
          <div class="userAvatar pull-left"><a href="../People/Detail.html?nickname={{$value.Author.Nickname}}"><img src="{{$value.Author.AvatarUrl}}" alt=""></a></div>
          <div class="otherInfo pull-left">
            <div class="firstRow row-fluid">
              <div class="nickname pull-left"><a href="../People/Detail.html?nickname={{$value.Author.Nickname}}">{{$value.Author.Nickname}}</a></div>
              <div class="reviewScore pull-left" data-score="{{$value.Score}}"></div>
              <div class="mega pull-right">
                <table>
                  <tr>
                    <td>
                      <div class="glyphicons comments">{{$value.ResponseSum}}</div>
                    </td>
                    <td>
                      <div class="glyphicons thumbs_up">{{$value.LikeSum}}</div>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="secondRow row-fluid">
              <div class="reviewTitle pull-left dotdotdotForLongText">{{$value.Title}}</div>
            </div>
          </div>
        </div>
        <div class="content row-fluid">{{$substring $value.Content 0 80}}</div>
      </div>
      {{/each}}
    </div>
  </div>
  {{/if}}
  {{if RelatedBooklists}}
  <div class="section row-fluid booklists">
    <div class="row-fluid title">
      <span>收藏这本书的书单</span>
    </div>
    <div class="row-fluid">
      {{each RelatedBooklists as $c $i}}
      <div class="booklist pull-left span6">
        <a href="../Booklist/Detail.html?id={{$c.Id}}"></a>
        <div class="row-fluid booklistTitle"><div class="titleText pull-left">{{$c.Title}}</div><div class="pull-right">({{$c.BookSum}})</div></div>
        <div class="row-fluid nickname">{{$c.Author.Nickname}}</div>
        <div class="row-fluid">
          {{each $c.BookCoverUrls as $d $j}}
          {{if $j <= 3}}
          <div class="bookCover span3"><div class="wrapper"><img src="{{$d}}" alt=""></div></div>
          {{/if}}
          {{/each}}
        </div>
        <div class="row-fluid mega">
          <div class="span6"><div class="glyphicons comments">{{$c.ResponseSum}}</div></div>
          <div class="span6"><div class="glyphicons heart">{{$c.SubscribeSum}}</div></div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
  {{/if}}
  {{if BooksWithSameAuthor}}
  <div class="section row-fluid booksBySameAuthor">
    <div class="row-fluid title">
      <span>作者的其他书</span>
    </div>
    <div class="row-fluid">
      {{each BooksWithSameAuthor}}
      <div class="sameBook span3">
        <a href="Detail.html?id={{$value.Id}}">
          <div class="bookCover">
            <div class="wrapper"><img src="{{$value.ImageUrl}}" alt=""></div>
          </div>
          <div class="bookTitle text-center">{{$value.Title}}</div>
        </a>
      </div>
      {{/each}}
    </div>
  </div>
  {{/if}}
  {{if Book.SimilarBooks}}
  <div class="section row-fluid similarBooks">
    <div class="row-fluid title">
      <span>喜欢这本书的人也喜欢</span>
    </div>
    <div class="row-fluid">
      {{each Book.SimilarBooks as $c $i}}
      {{if $i <= 3}}
      <div class="sameBook span3">
        <a href="Detail.html?id={{$c.Id}}">
          <div class="bookCover">
            <div class="wrapper"><img src="{{$c.ImageUrl}}" alt=""></div>
          </div>
          <div class="bookTitle text-center">{{$c.Title}}</div>
        </a>
      </div>
      {{/if}}
      {{/each}}
    </div>
  </div>
  {{/if}}
</div>