<div class="container">
  <div class="row-fluid articles section">
    {{include "./Articles"}}
  </div>
  <div class="row-fluid hot_ranking section">
    <div class="title row-fluid">
      <h4>
        <span class="icon"></span>
        <span>新鲜热榜</span>
        <span class="more"><a href="Billboard/Index.html">更多&nbsp;...</a></span>
      </h4>
    </div>
    <div class="rankinglist row-fluid">
      {{include "./Billboards"}}
    </div>
  </div>
  <div class="row-fluid wizard section">
    <div class="title row-fluid">
      <h4>
        <span class="icon"></span>
        <span>猜你喜欢</span>
        <span class="more hide"><a href="Book/Recommendation.html">一键治书荒</a></span>
      </h4>
    </div>
    <div class="row-fluid bookRecommended">
      {{include "./Wizard"}}
    </div>
  </div>
  <div class="row-fluid reviews section">
    <div class="title row-fluid">
      <h4>
        <span class="icon"></span>
        <span>推荐书评</span>
        <span class="more"><a href="Review/All.html?ch={{if Ch}}{{Ch}}{{else}}m{{/if}}">更多&nbsp;...</a></span>
      </h4>
    </div>
    <div class="unstyled">
      {{each RecommendedReviews}}
      {{include "../public/Review" $value}}
      {{/each}}
    </div>
  </div>
</div>