<div class="container">
  <div class="row-fluid text-center">本期发布于{{Billboard.CreationTime}}</div>
  {{if IsDispNextPlan === true}}
  <div class="desc row-fluid text-center">距离下期发布还有{{Billboard.NextVersionPlan}}</div>
  {{/if}}
  <hr>
  <div class="listDetail tab-pane active" id="allbooks">
    <ul class="unstyled">
      {{each Billboard.Books}}
      {{include "../public/BookWithComment" $value}}
      {{/each}}
    </ul>
  </div>
</div>
<div class="mega">
  <table>
    <tr>
      <td class="span6">
        <div class="glyphicons eye_open">{{Billboard.ViewCount}}</div>
      </td>
      <td class="span6">
        <div class="glyphicons heart">{{Billboard.LikeSum}}</div>
      </td>
    </tr>
  </table>
</div>