<div class="container">
  <div class="row-fluid text-center">本期发布于{{CreationTime}}</div>
  {{if NextVersionPlan > 0}}
  <div class="desc row-fluid text-center">距离下期发布还有{{NextVersionPlan}}天</div>
  {{/if}}
  <hr>
  <div class="listDetail tab-pane active" id="allbooks">
    <ul class="unstyled">
      {{each Books}}
      {{include "../public/BookWithComment" $value}}
      {{/each}}
    </ul>
  </div>
</div>
<div class="mega">
  <table>
    <tr>
      <td class="span6">
        <div class="glyphicons eye_open">{{ViewCount}}</div>
      </td>
      <td class="span6">
        <div class="glyphicons heart">{{LikeSum}}</div>
      </td>
    </tr>
  </table>
</div>