<div class="container" data-authorid="{{booklistAuthorId}}" data-id="{{id}}" data-avatar="{{avatarUrl}}" data-nickname="{{nickname}}">
  {{each responses}}
  {{include "../public/Response" $value}}
  {{/each}}
</div>
{{if isLogin === true}}
<div class="postResponse row-fluid">
  <div class="replyInput span10">
    <input type="text" class="input-block-level" name="q">
    <div class="cancelInput hide">x</div>
  </div>
  <button class="btn button text-center span2" type="submit" disabled="disabled">回复</button>
</div>
{{/if}}