<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shanpow.app.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="com.shanpow.app.android.MainApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_app"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat">
        <activity
            android:name="com.shanpow.app.android.MainActivity_"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.shanpow.app.android.SlidingMenuBaseActivity_"
            android:label="@string/title_activity_sliding_menu_base" />
        <activity
            android:name=".LoginActivity_"
            android:label="@string/title_activity_login" />

        <meta-data
            android:value="53608cd456240bd7de0061f9"
            android:name="UMENG_APPKEY" />
        <meta-data
            android:value="Default"
            android:name="UMENG_CHANNEL" />
    </application>

</manifest>
