<div class="actionbar row-fluid">
  <div class="actionbar-section left-button pull-left">
    <div class="slide-menu"><div class="glyphicons show_lines"></div></div>
    <div class="back"><div class="glyphicons chevron-left"></div></div>
  </div>
  <div class="actionbar-section center pull-left">
    <div class="page-title pull-left"></div>
    <div class="btn-group pull-left channel">
      <a class="btn btn-link dropdown-toggle" data-toggle="dropdown" href="#">
        <img src="public/img/Crown.png" alt="" class="current-channel pull-left">
        <div class="arrow pull-left"></div>
      </a>
      <ul class="dropdown-menu">
        <li><a href="?ch=m"><img src="public/img/Crown.png" alt=""></a></li>
        <li><a href="?ch=f"><img src="public/img/Crown_Woman.png" alt=""></a></li>
      </ul>
    </div>
  </div>
  <div class="actionbar-section right-button pull-right">
    <div class="buttons">
      <a href="file:///android_asset/www/Search/Index.html" class="button hide glyphicons search"></a>
      <div class="write hide">
        <div class="pull-left left active">短评</div>
        <div class="pull-left right">长评</div>
      </div>
    </div>
  </div>
</div>
<div class="spinner"></div>