<div class="actionbar row-fluid">
  <div class="actionbar-section left-button pull-left">
    <div class="slide-menu hide">
      <div class="glyphicons show_lines"></div>
      <div class="badge"></div>
    </div>
    <div class="back"><div class="glyphicons chevron-left"></div></div>
  </div>
  <div class="actionbar-section center pull-left">
    <div class="page-title pull-left"></div>
    <div class="btn-group pull-left channel hide">
      <a class="btn btn-link dropdown-toggle" data-toggle="dropdown" href="#">
        <img src="public/img/Crown.png" alt="" class="current-channel pull-left">
        <div class="arrow pull-left"></div>
      </a>
      <ul class="dropdown-menu">
        <li><a href="?ch=m"><img src="public/img/Crown.png" alt=""></a></li>
        <li><a href="?ch=f"><img src="public/img/Crown_Woman.png" alt=""></a></li>
      </ul>
    </div>
  </div>
  <div class="actionbar-section center pull-left hide loading">
    <div class="pullingText">下拉刷新...</div>
  </div>
  <div class="actionbar-section right-button pull-right">
    <div class="buttons">
      <a href="file:///android_asset/www/Search/Index.html" class="button hide glyphicons search"></a>
      <div class="write hide">
        <div class="pull-left button post">发送</div>
      </div>
      <div class="message-center pull-left hide">
        <a href="file:///android_asset/www/MessageCenter/Index.html" class="">
          <img src="../public/img/MessageCenter.png">
          <span class="badge unreadCount"></span>
        </a>
      </div>
      <div class="follow pull-left hide"><a href="file:///android_asset/www/MessageCenter/Index.html" class="glyphicons heart"></a></div>
      <div class="side-menu hide pull-left btn-group">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><img src="../public/img/sidemenu.png"></a>
        <ul class="dropdown-menu pull-right">
          <li><a tabindex="-1" href="#" id="logout">退出登录</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pullbar"></div>
</div>
<div class="spinner"></div>