<div class="book row-fluid" id="{{Id}}">
  <a href="file:///android_asset/www/Book/Detail.html?id={{Id}}"></a>
  <div class="megaInfo row-fluid">
    <div class="bookCover span3">
      <img src="{{ImageUrl}}" alt="">
    </div>
    <div class="bookMega span9">
      <h4>{{Title}}</h4>
      <div class="pull-left time">{{CreationTime}}</div>
      <div class="clearfix"></div>
      <div class="pull-left author">{{Author}}</div>
      <div class="clearfix"></div>
      <div class="pull-left category">{{Category}}</div>
      <div class='pull-left ratingStar' data-score='{{Score}}'></div>
    </div>
  </div>
</div>