<div class="book row-fluid" id="{{BookId}}">
  <a href="file:///android_asset/www/Book/Detail.html?id={{BookId}}"></a>
  <div class="megaInfo row-fluid">
    <div class="bookCover span3">
      <img src="{{BookImageUrl}}" alt="">
    </div>
    <div class="bookMega span9">
      <h4>{{BookTitle}}</h4>
      <div class="pull-left time">{{CreationTime}}</div>
      <div class="clearfix"></div>
      <div class="pull-left author">{{BookAuthor}}</div>
      <div class="clearfix"></div>
      <div class="pull-left category">{{BookCategory}}</div>
      <div class='pull-left ratingStar' data-score='{{BookScore}}'></div>
    </div>
  </div>
</div>