{{each recommendedReviews}}
<li class="review" id="{{$value.Id}}">
  <a href="/m/{{if $value.Title}}review{{else}}comment{{/if}}/{{$value.Id}}"></a>
  <div class="row-fluid reviewBasic">
    <div class="reviewInfo">
      {{if $value.Title}}
      <div class="reviewTitle dotdotdotForLongText"><strong>{{$value.Title}}</strong></div>
      {{/if}}
      <div class="content">{{if $value.Title}}{{$substring $value.Content 0 45}}{{else}}{{$substring $value.Content 0 55}}{{/if}}</div>
    </div>
    <div class="bookCover">
      <a href="/m/book/{{$value.Book.Id}}"></a>
      <img src="{{$value.Book.ImageUrl}}" alt="">
      <div class="bookTitle text-center">{{$substring $value.Book.Title 0 10}}</div>
    </div>
  </div>
  <div class="row-fluid reviewRelated">
    <div class="user span8 row-fluid">
      <div class="avatar span3">
        <div class="arrow"></div>
        <a href="/m/people/{{$value.Author.Nickname}}"><img src="{{$value.Author.AvatarUrl}}" alt="" class="img-circle"></a>
      </div>
      <div class="userInfo span9">
        <div class="row-fluid dotdotdotForLongText"><a href="/m/people/{{$value.Author.Nickname}}">{{$substring $value.Author.Nickname 0 10}}</a></div>
        <div class="row-fluid"><div class="ratingStar" data-score="{{$value.Score}}"></div></div>
      </div>
    </div>
    <div class="mega span4 row-fluid">
      <div class="span6"><div class="glyphicons comments">{{$value.ResponseSum}}</div></div>
      <div class="span6"><div class="glyphicons thumbs_up">{{$value.LikeSum}}</div></div>
    </div>
  </div>
</li>
{{/each}}