<div class="container">
  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active text-center"><a href="#reading" data-toggle="tab" id="readingTab">正在阅读的</a></li>
      <li class="text-center"><a href="#read" data-toggle="tab" id="readTab">读过的</a></li>
      <li class="text-center"><a href="#wanttoread" data-toggle="tab" id="wantTab">想读的</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane row-fluid active" id="reading">
      </div>
      <div class="tab-pane" id="read">
      </div>
      <div class="tab-pane" id="wanttoread">
      </div>
    </div>
  </div>
</div>