<div class="container">
  <div class="row-fluid section basicInfo">
    <div class="whiteArea"></div>
    <div class="avatar"><img src="{{UserAvatarUrl}}" alt="" class="img-circle"></div>
    <div class="nickname text-center">{{Nickname}}</div>
  </div>
  <div class="row-fluid section advancedInfo">
    <div class="info">
      <div class="num text-center">{{FollowingsCnt}}</div>
      <div class="key text-center">关注</div>
      <a href="Follows.html?nickname={{Nickname}}&type=following"></a>
    </div>
    <div class="info">
      <div class="num text-center">{{FollowersCnt}}</div>
      <div class="key text-center">粉丝</div>
      <a href="Follows.html?nickname={{Nickname}}&type=follower"></a>
    </div>
    <div class="info">
      <div class="num text-center">{{ReviewCnt}}</div>
      <div class="key text-center">书评</div>
      <a href="Comments.html?nickname={{Nickname}}&type=review"></a>
    </div>
    <div class="info">
      <div class="num text-center">{{CommentCnt}}</div>
      <div class="key text-center">短评</div>
      <a href="Comments.html?nickname={{Nickname}}&type=comment"></a>
    </div>
    {{if ArticleCnt > 0}}
    <div class="info">
      <div class="num text-center">{{ArticleCnt}}</div>
      <div class="key text-center">专栏文章</div>
      <a href="Articles.html?nickname={{Nickname}}&type=comment"></a>
    </div>
    {{/if}}
  </div>
  <div class="row-fluid section readRecord">
    <div class="title row-fluid">
      <span>{{if IsMySelf === true}}我{{else}}Ta{{/if}}的阅读记录</span>
      <span class="more"><a href="Books.html?nickname={{Nickname}}">更多&nbsp;...</a></span>
    </div>
    <div class="row-fluid books">
      {{each ReadHistories}}
      <div class="span3 book">
        <a href="../Book/Detail.html?id={{$value.Id}}"></a>
        <div class="bookCover">
          <img src="{{$value.ImageUrl}}" alt="">
          <div class="readStatus text-center">已读完</div>
        </div>
        <div class="bookTitle text-center">{{$value.Title}}</div>
      </div>
      {{/each}}
    </div>
  </div>
  <div class="row-fluid section booklists">
    <div class="span4 button">
      <a href="FollowedBooks.html?nickname={{Nickname}}">
        <div class="icon"><img src="../public/img/heart.png" alt=""></div>
        <div class="text-center">{{if IsMySelf === true}}我{{else}}Ta{{/if}}关注的书</div>
      </a>
    </div>
    <div class="span4 button">
      <a href="../Booklist/My.html?nickname={{Nickname}}&create=1">
        <div class="icon"><img src="../public/img/CreateBooklist.png" alt=""></div>
        <div class="text-center">{{if IsMySelf === true}}我{{else}}Ta{{/if}}创建的书单</div>
      </a>
    </div>
    <div class="span4 button">
      <a href="../Booklist/My.html?nickname={{Nickname}}&subscribe=1">
        <div class="icon"><img src="../public/img/SubscribeBooklist.png" alt=""></div>
        <div class="text-center">{{if IsMySelf === true}}我{{else}}Ta{{/if}}收藏的书单</div>
      </a>
    </div>
  </div>
  {{if IsMySelf === false}}
  <div class="row-fluid section">
    <div class="sendDirectMessage span10 offset1 text-center">发送私信</div>
  </div>
  {{/if}}
</div>