<div class="container" data-bookid="{{Comment.Book.Id}}">
  <div class="info row-fluid">
    <div class="user pull-left" id="{{Comment.Author.Id}}">
      <a href="../People/Detail.html?nickname={{Comment.Author.Nickname}}">
        <div class="avatar pull-left"><img src="{{Comment.Author.AvatarUrl}}" alt="" class="img-circle"></div>
        <div class="nickname pull-left">{{Comment.Author.Nickname}}</div>
      </a>
    </div>
    <div class="ratingStar pull-left" data-score="{{Comment.Score}}"></div>
  </div>
  <div class="content">{{Comment.Content}}</div>
  <div class="book row-fluid" id="{{Comment.Book}}">
    <a href="../Book/Detail.html?id={{Comment.Book.Id}}"></a>
    <div class="megaInfo row-fluid">
      <div class="bookCover span3">
        <img src="{{Comment.Book.ImageUrl}}" alt="" data-srcimg="{{Comment.Book.ImageUrl}}">
      </div>
      <div class="bookMega span9">
        <h4><strong>{{Comment.Book.Title}}</strong></h4>
        <div class="pull-left">{{Comment.Book.Author}}</div>
        <div class="clearfix"></div>
        <div class="pull-left">{{Comment.Book.Category}}</div>
      </div>
    </div>
  </div>
</div>
<div class="row-fluid mega">
  <table class="pull-right">
    <tr>
      <td class="response">
        <a href="Response.html?commentId={{Comment.Id}}">
          <span class="glyphicons comments">{{Comment.ResponseSum}}</span>
        </a>
      </td>
      <td class="thumbsUp">
        <div><span class="glyphicons thumbs_up">{{Comment.LikeSum}}</span></div>
      </td>
    </tr>
  </table>
</div>

<script type="text/javascript">
  window.logined = {{if IsLogin === true}}true{{else}}false{{/if}};
</script>